<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <h1>Users</h1>
    <div>
      <% users.forEach(user=>{ %>
      <div
        style="
          padding: 20px;
          background-color: bisque;
          border-radius: 20px;
          margin: 3px;
        "
      >
        <%= user %>
      </div>
      <% }) %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
